<div class="row" ng-repeat="hostel in hostels">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Общежитие № {{hostel.hostel_id}}</h3>
                <p>Количество комнат: {{hostel.room_count}}</p>
                <p><a href="#/hostels/{{hostel.hostel_id}}" class="btn btn-primary" role="button">Посмотреть</a></p>
            </div>
        </div>
    </div>

</div>
<footer>
    <button type="button" class="btn btn-info" ng-click="addHostel()">Add Hostel</button>
</footer>