<pre class="stud-table3">Student Id</pre>
<pre class="stud-table">Student</pre>
<pre class="stud-table2">Sex</pre>
<pre class="stud-table3">Hostel</pre>
<pre class="stud-table3">Room</pre>

</div>
<div ng-repeat="student in students">
    <pre class="stud-table3">{{student.number}} </pre>
    <pre class="stud-table">{{student.surname}} {{student.name}} {{student.patronymic}}</pre>
    <pre class="stud-table2">{{student.sex}} </pre>
    <div class="col-host">
        <select name="{{student.number}}" class="form-control" ng-model="student.hostel"
                ng-options="hostel for hostel in hostels" disabled></select>
    </div>
    <div class="col-host2">
        <select name="{{student.number}}" class="form-control" ng-model="student.room"
                ng-options="room for room in student.rooms" disabled></select>
    </div>
    <div class="col-host3">
        <button class="btn btn-default stud-table4 " ng-click="table_value(student)"><span
                class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-default stud-table4 " ng-click="save(student)"><span
                class="glyphicon glyphicon-floppy-save"></span>
        </button>
        <button class="btn btn-default stud-table4 " ng-click="delete(student)"><span
                class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>